<%- include('partials/header'); -%>

<div class="card-wrapper">
    <% if(user){ %>
        <form>
            <label for="title">Title</label><br>
            <input type="text" name="title" class="title" required> <br>
            <label for="content">Content</label><br>
            <textarea name="Text1" cols="30" rows="3"></textarea>
            <button>Publish</button>
            <p class="error"></p>
        </form>
    <% } %>
    <% posts.forEach(post => { %>
        <div class="card">
            <p>by <%= post.owner %></p>
            <a href= "<%= post._id %>"> <h1><%= post.title %></h1> </a>
            <h2><%= post.content %></h2>
            <button data-doc="<%= post._id %>" >Kill bitt</button>
        </div>
    <% }); %>
</div>        
<script>
    const form = document.querySelector('form')
    const cardWrapper = document.querySelector('.card-wrapper')
    const textarea = document.querySelector('textarea')
    const errorField = document.querySelector('.error')
    form.addEventListener('submit', async (e)=>{
        e.preventDefault()

        const title = form.title.value
        const content = textarea.value

        console.log(content.length)
        if(content.length>100){
            console.log('kys, '+content.length+" Are way too many numbers")
            errorField.textContent = `${content.length} are too many letters, go for 100 or less`
        }else{
                //sender data for authentisering
            try {
                
                const res = await fetch('/addpost',{
                    method: 'post',
                    body: JSON.stringify({title,content,}),
                    headers: {'Content-Type': 'application/json'}
                })
    
                //venter på data
                const data = await res.json()
                console.log(data)
                if(data){
                    location.assign('/home')
                }
            } catch (err) {
                console.log(err)
            }
        }
    })
    
    cardWrapper.addEventListener('click', e=>{
        console.log(e.target)
        if(e.target.textContent === 'Kill bitt'){
            const id = e.target.dataset.doc
            console.log(id)
            const endpoint = `/${id}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => location.assign('/home'))
            .catch(err => console.log(err));
            }
    })
    
    </script>
    
<%- include('partials/footer'); -%>