<%- include('partials/header'); -%>
<h2 style="text-align: center;"><%= owner.name %>'s page</h2>
<div class="card-wrapper">
    <% posts.forEach(post => { %>
        <div class="card">
            <a href= "<%= post._id %>"> <h1><%= post.title %></h1> </a>
            <h2><%= post.content %></h2>            
        </div>
    <% }); %>
</div>
<%- include('partials/footer'); -%>